<div id="chatBtn">
    <i class="fa fa-comments"></i>
</div>
<!-- DIRECT CHAT PRIMARY -->
<div class="box box-client box-primary direct-chat direct-chat-primary" hidden>
    <div class="box-header with-border">
        <h3 class="box-title">Direct Chat</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse" id="minimizeBtn">
                <i class="fa fa-minus"></i>
            </button>

            @*<button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>*@
        </div>
    </div>
    <!-- /.box-header -->
    <div class="box-body">
        <!-- Conversations are loaded here -->
        <div class="direct-chat-messages">

        </div>
    </div>
    <!-- /.box-body -->
    <div class="box-footer">
        <div class="input-group">
            <input type="hidden" id="displayname" />
            <input type="text" name="message" placeholder="Type Message ..." class="form-control" id="message">
            <span class="input-group-btn">
                <button class="btn btn-primary btn-flat" id="sendmessage">Send</button>
            </span>
        </div>
    </div>
    <!-- /.box-footer-->
</div>
