body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
/*    padding-left: 15px;
    padding-right: 15px;*/
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
    background-color: #777;
    border-color: #fff
}

/* Set the map rules */
#map {
    height: 500px;
    width: 70%;
    border: 1px solid black;
}


.map-container {
    display: flex;
    border: 1px solid black;
}


.results p {
    border: 1px solid red;
    border-radius: 10px;
    z-index: 10;
    margin: 5px 0px;
    padding: 5px 10px;
}

.map-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: 0.7;
    z-index: 1;
}

#title {
    background-color: seashell;
    font-size: 1.5rem;
}

#added-places {
    border: 1px solid black;
    width: 30%;
}

#added-places li {
    padding: 10px;
}

.place-item {
    display: flex;
}

.delete-place{
    border: 0;
    background-color: inherit;
}