@using GroupProject.Models.Enums

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

@{
    var placeTypesValues = Enum.GetValues(typeof(PlaceType));
}

<div>
    <form class="mt-5" id="input-from">
        <div class="row mb-4">
            <p class="text-center fs-5">Enter cities</p>
        </div>
        <div class="mb-4 d-flex gap-5 justify-content-center">
                <div class="form-group">
                    <input class="form-control-lg width300" type="search" name="start" placeholder="Start" />
                    <ul class="results list-group width300"></ul>
                </div>

                <div class="form-group">
                    <input class="form-control-lg width300" type="search" name="destination" placeholder="Destination" />
                    <ul class="results list-group width300"></ul>
            </div>
        </div>

        <div class="row mb-4">
            <p class="text-center fs-6">Choose place categories</p>

            <div id="select-container">
                @{
                    foreach (int typeValue in placeTypesValues)
                    {
                        var typeName = Enum.GetName(typeof(PlaceType), typeValue);

                        <div id="type-select">
                            <label class="checkbox-inline" for="@typeName">
                                @typeName
                            </label>
                            <input type="checkbox" name="@typeName" value="@typeValue">
                        </div>
                    }
                }
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center col-4 offset-4">
                <button type="button" class="btn btn-primary" id="start-button">Find route</button>
            </div>

        </div>



        <div class="map-container">
            <div class="map-overlay">
                <div class="spinner-border" role="status" hidden>
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <div id="map"></div>
            <div id="added-places">
                <div class="container-fluid">
                    <p class="text-center" id="title">Places</p>

                    <ol class="list-group" id="places-list">
                    </ol>

                </div>

                <button type="submit" class="btn btn-success" id="add-trip" disabled>Create trip</button>
            </div>


        </div>

    </form>

</div>

@section scripts {
    <script type="module" src="~/Scripts/trip/autocomplete.js"></script>
    <script type="module" src="~/Scripts/trip/types.js"></script>
    <script type="module" src="~/Scripts/trip/directions.js"></script>
    <script type="module" src="~/Scripts/trip/places.js"></script>
    <script type="module" src="~/Scripts/trip/markers.js"></script>
    <script type="module" src="~/Scripts/trip/map.js"></script>
    <script src=@("https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js")></script>*
    <script async
            defer
            src="https://maps.googleapis.com/maps/api/js?v=weekly
            &key=AIzaSyCWtBJDMm73chW1fM_kP8T9JpVeu6pt7DQ"></script>
}


