
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div>
    <form class="mt-5">
        <div class="row mb-4">
            <p class="text-center fs-5">Enter cities</p>

            <div class="col-md-3 offset-3">
                <div class="form-group">
                    <input class="form-control-lg" type="search" name="start" placeholder="Start" />
                    <div class="results"></div>
                </div>
            </div>

            <div class="col-3">
                <div class="form-group">
                    <input class="form-control-lg" type="search" name="destination" placeholder="Destination" />
                    <div class="results"></div>
                </div>
            </div>

        </div>

        <div class="row mb-4">
            <p class="text-center fs-6">Choose place categories</p>

            <div class="d-flex justify-content-around form-group col-6 offset-3">
                <div class="d-flex justify-content-center flex-column">
                    <label class="checkbox-inline" for="test">
                        Option 1
                    </label>
                    <input type="checkbox" id="test" name="test" value="">
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <label class="checkbox-inline" for="test2">
                        Option 2
                    </label>
                    <input type="checkbox" id="test2" name="test2" value="">
                </div>

                <div class="d-flex justify-content-center flex-column">
                    <label class="checkbox-inline" for="test3">
                        Option 3
                    </label>
                    <input type="checkbox" id="test3" name="test3" value="">
                </div>
            </div>
        </div>

        <div class="row">
            <div class="d-flex justify-content-center col-4 offset-4">
                <button class="btn btn-primary start-button">Find route</button>
            </div>

        </div>

    </form>

    <div class="map-container" >
        <div id="map"></div>
        <div>
            <p class="text-center">Places</p>
            <ol id="added-places">
                <li></li>
            </ol>

        </div>


    </div>

</div>



@section scripts {
    <script type="module" src="~/Scripts/autocomplete.js"></script>
    <script type="module" src="~/Scripts/map.js"></script>
    <script src=@("https://unpkg.com/@googlemaps/markerclusterer/dist/index.min.js")></script>*
    <script async
            defer
            src="https://maps.googleapis.com/maps/api/js?v=weekly
            &key=AIzaSyCWtBJDMm73chW1fM_kP8T9JpVeu6pt7DQ"></script>
}


