
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container px-5 my-5 justify-content-center mx-5">
    <h1 class="display-4"><i class="bi bi-wallet"></i> Pricing plans</h1>
    <p class="fs-5 text-muted mx-5"> Choose your plan right here.</p>
    <hr />
</div>

<div class="row row-cols-1 row-cols-md-2 mb-4 mx-5 text-center">
    <div class="col">
        <div class="card mb-2 mx-2 rounded-3 shadow-lg">
            <div class="card-header py-3 h-98 bg-secondary text-white-50">
                <h4 class="my-0 fw-normal display-5"><i class="fas fa-map"></i> Basic</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">€0</h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>Unlimited trips</li>
                    <li>Save your trips</li>
                    <li>Live chat for instant assistance</li>
                    <li>Select cities across the globe</li>
                    <li>Get place recomendations based on your preferences</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Access to premium place categories</span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Fine tune how afar the places will be from your path</span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Get more detailed place recommendations</span>
                    </li>
                </ul>

                @{
                    if (!ViewBag.IsRegistered)
                    {
                        <a class="w-50 btn btn-lg btn-outline-secondary" href="@Url.Action("Register", "Account")">
                            Get started
                        </a>
                    }
                }

            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5 mx-2 rounded-3 border-primary border-2 border-top-0">
            <div class="card-header py-3 h-98 text-white bg-primary">
                <h4 class="my-0 fw-normal display-5"><i class="fas fa-map-marked-alt"></i> Premium</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">
                    €4.99<small class="text-muted fw-light">/lifetime</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-3">
                    <li>Unlimited trips</li>
                    <li>Save your trips</li>
                    <li>Live chat for instant assistance</li>
                    <li>Select cities across the globe</li>
                    <li>Get place recomendations based on your preferences</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Access to premium place categories</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Fine tune how afar the places will be from your path</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Get more detailed place recommendations</strong></span>
                    </li>
                </ul>

                @{
                    if (!ViewBag.IsRegistered)
                    {
                        <a class="w-50 btn btn-lg btn-primary text-light" href="@Url.Action("Register", "Account")">
                            Get started
                        </a>
                    }
                    else
                    {
                        <div class="d-flex justify-content-center py-1">
                            <div id="paypal-button-container"></div>
                        </div>
                    }
                }

            </div>
        </div>
    </div>
</div>




<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AXi2EH1EWGblH_H_B_b7xsvUZWifWYn7fB4afJDmtdHtsjX7Q1zh3UG1T63ECvimyzvSDHzyXYuVJK7L&currency=EUR&locale=en_US&disable-funding=card"></script>
<!-- Set up a container element for the button -->
<script src="~/Scripts/pricing/paypal.js"></script>




