
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CustomLayout.cshtml";
}

<div class="container px-5 my-5 justify-content-center mx-5">
    <h1 class="display-4"><i class="bi bi-wallet"></i> Pricing plans</h1>
    <p class="fs-5 text-muted mx-5"> Choose your plan right here.</p>
    <hr />
</div>

<div class="row row-cols-1 row-cols-md-2 mb-4 mx-5 text-center" >
    <div class="col">
        <div class="card mb-2 mx-2 rounded-3 shadow-lg">
            <div class="card-header py-3 h-98 bg-secondary text-white-50">
                <h4 class="my-0 fw-normal"><i class="fas fa-map"></i> Free</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$0<small class="text-muted fw-light">/mo</small></h1>
                <ul class="list-unstyled mt-3 mb-4">
                    <li>10 users included</li>
                    <li>2 GB of storage</li>
                    <li>Email support</li>
                    <li>Help center access</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Cras justo odio</span>  
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Cras justo odio</span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-x"></i> Cras justo odio</span>
                    </li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-outline-secondary">Try now</button>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="card mb-5 mx-2 rounded-3 border-primary border-2 border-top-0">
            <div class="card-header py-3 h-98 text-white bg-primary">
                <h4 class="my-0 fw-normal display-5"><i class="fas fa-map-marked-alt"></i> Pro</h4>
            </div>
            <div class="card-body">
                <h1 class="card-title pricing-card-title">$4.99<small class="text-muted fw-light">/lifetime</small>
                </h1>
                <ul class="list-unstyled mt-3 mb-3">
                    <li>20 users included</li>
                    <li>10 GB of storage</li>
                    <li>Priority email support</li>
                    <li>Help center access</li>
                </ul>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Cras justo odio</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Cras justo odio</strong></span>
                    </li>
                    <li class="list-group-item">
                        <span><i class="bi bi-check"></i><strong>Cras justo odio</strong></span>
                    </li>
                </ul>
                <button type="button" class="w-50 btn btn-lg btn-primary">Get started</button>
                <div class="d-flex justify-content-center py-1">
                    <div id="paypal-button-container"></div>
                </div>
                
            </div>
        </div>
    </div>
</div>




<!-- Replace "test" with your own sandbox Business account app client ID -->
<script src="https://www.paypal.com/sdk/js?client-id=AXi2EH1EWGblH_H_B_b7xsvUZWifWYn7fB4afJDmtdHtsjX7Q1zh3UG1T63ECvimyzvSDHzyXYuVJK7L&currency=EUR&locale=en_US&disable-funding=card"></script>
<!-- Set up a container element for the button -->
<script>
    paypal.Buttons({
        // Sets up the transaction when a payment button is clicked
        createOrder: (data, actions) => {
            return fetch("https://localhost:44397/Pricing/CreateOrder", {
                method: "post",
                // use the "body" param to optionally pass additional order information
                // like product ids or amount
            })
                .then((response) => response.json())
                .then((order) => order.id);
        },
        // Finalize the transaction after payer approval
        onApprove: (data, actions) => {
            debugger;
            return fetch(`https://localhost:44397/Pricing/CapturePayment?orderId=${data.orderID}`, {
                method: "post",
                body: JSON.stringify(data)
            })
                .then((response) => response.json())
                .then((orderData) => {
                    window.location.href = orderData.redirectToUrl;
            });
        }
    }).render('#paypal-button-container');
</script>




