@{
    ViewBag.Title = "Home Page";
}

@{
    if (ViewBag.Message != null)
    {

        <div class="alert alert-primary" role="alert">
            @ViewBag.Message
        </div>

    }
}



<!-- Header-->
<div id="page-top">
    <header class="text-white container-fluid" style="background-color: #21D4FD; background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%); ">
        <div class="container px-4 text-center">
            <h1 class="fw-bolder display-1">Trippie</h1>
            <p class="lead ">
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-car-front-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2.52 3.515A2.5 2.5 0 0 1 4.82 2h6.362c1 0 1.904.596 2.298 1.515l.792 1.848c.075.175.21.319.38.404.5.25.855.715.965 1.262l.335 1.679c.033.161.049.325.049.49v.413c0 .814-.39 1.543-1 1.997V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.338c-1.292.048-2.745.088-4 .088s-2.708-.04-4-.088V13.5a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1-.5-.5v-1.892c-.61-.454-1-1.183-1-1.997v-.413a2.5 2.5 0 0 1 .049-.49l.335-1.68c.11-.546.465-1.012.964-1.261a.807.807 0 0 0 .381-.404l.792-1.848ZM3 10a1 1 0 1 0 0-2 1 1 0 0 0 0 2Zm10 0a1 1 0 1 0 0-2 1 1 0 0 0 0 2ZM6 8a1 1 0 0 0 0 2h4a1 1 0 1 0 0-2H6ZM2.906 5.189l.956-1.913A.5.5 0 0 1 4.309 3h7.382a.5.5 0 0 1 .447.276l.956 1.913a.51.51 0 0 1-.497.731c-.91-.073-3.35-.17-4.597-.17-1.247 0-3.688.097-4.597.17a.51.51 0 0 1-.497-.731Z" />
                    </svg>
                </span>Your road trip, simpler
            </p>

            @Html.ActionLink("Try for free", "Index", "Trip", new { Area = "UnregisteredUser" }, new { @class = "btn btn-lg btn-outline-light" })

            <a href="@Url.Action("Index", "Trip")" class="btn btn-lg btn-outline-light">
                <span>
                    <i class="bi bi-joystick"></i>
                </span>
                <span>
                    Try for free
                </span>
            </a>
        </div>
    </header>

    <!-- About section-->
    <section id="about">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-10">
                    <h2 class="display-4 font-weight-light"> <i class="fa-regular fa-lightbulb"></i>  The idea </h2>
                    <hr />
                    <p class="lead">  This is a great place to talk about your webpage. This template is purposefully unstyled so you can use it as a boilerplate or starting point for you own landing page designs! This template features:</p>
                    <ul>
                        <li>Clickable nav links that smooth scroll to page sections</li>
                        <li>Responsive behavior when clicking nav links perfect for a one page website</li>
                        <li>Bootstrap's scrollspy feature which highlights which section of the page you're on in the navbar</li>
                        <li> Minimal custom CSS so you are free to explore your own unique design options</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Services section-->
    <section id="features" class="bg-light rounded-3">
        <div class="row gx-4 justify-content-center">
            <h2 class="display-4 font-weight-light text-center"> <i class="fas fa-swatchbook"></i> Application Features</h2>
            <hr />
            <div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 g-4 py-2 d-flex justify-content-center">
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0"> <i class="fa-solid fa-person-digging fa-xl"></i> Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0"> <i class="fa-solid fa-person-digging fa-xl"></i> Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
                <div class="col d-flex align-items-start">
                    <div>
                        <h4 class="fw-bold mb-0"> <i class="fa-solid fa-person-digging fa-xl"></i> Featured title</h4>
                        <p>Paragraph of text beneath the heading to explain the heading.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- End Services section-->
    <!-- Our Team section-->
    <section id="ourteam" style="background-color: #0093E9; background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%); ">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center">
                <div class="col-lg-10 ">
                    <h2 class="display-4"><i class="fas fa-users"></i> Our team</h2>
                    <hr />
                </div>
            </div>

            <div class="row justify-content-center">
                <!-- Team item-->
                <div class="col-xl-2 col-sm-4 mb-4">
                    <div class="bg-white rounded shadow-sm py-4 px-5">
                        <img src="https://bootdey.com/img/Content/avatar/avatar6.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0 mx-2">Dimitris<br/>Baltounas</h5><span class="small text-uppercase text-muted mx-2">UI - UX</span>
                        <ul class="social mb-1 list-inline mt-3 mx-2">
                            <li class="list-inline-item"><a href="mailto:" class="social-link"><i class="far fa-envelope-open"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/dimitris-baltounas-36976513a/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/GitEmm" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-2 col-sm-4 mb-4">
                    <div class="bg-white rounded shadow-sm py-4 px-5">
                        <img src="https://bootdey.com/img/Content/avatar/avatar7.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0 ">Dimitris<br />Zafeiris</h5><span class="small text-uppercase text-muted">Front - End</span>
                        <ul class="social mb-1 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:kremou115@gmail.com" class="social-link"><i class="far fa-envelope-open"></i></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/dimizafe/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/zafeirisdimi" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-2 col-sm-4 mb-4">
                    <div class="bg-white rounded shadow-sm py-4 px-5">
                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Ioannis<br />Thyris</h5><span class="small text-uppercase text-muted">Back - End</span>
                        <ul class="social mb-1 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:giannisthiris19@gmail.com" class="social-link"><i class="far fa-envelope-open"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/ioannisthyris/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/ioannis-thyris" class="social-link"><i class="fa fa-github"></i></a></li>

                        </ul>
                    </div>
                </div>
                <!-- End-->
                <!-- Team item-->
                <div class="col-xl-2 col-sm-4 mb-4">
                    <div class="bg-white rounded shadow-sm py-4 px-5">
                        <img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Leonidas<br />Mourikis</h5><span class="small text-uppercase text-muted">Database</span>
                        <ul class="social mb-1 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:lmourik@hotmail.com" class="social-link"><i class="far fa-envelope-open"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/leonidas-mourikis-40571151/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/MourikisLeonidas" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->
                <div class="col-xl-2 col-sm-4 mb-4">
                    <div class="bg-white rounded shadow-sm py-4 px-5">
                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" width="100" class="img-fluid rounded-circle mb-3 img-thumbnail shadow-sm">
                        <h5 class="mb-0">Stavros<br />Gouleas</h5><span class="small text-uppercase text-muted">Github</span>
                        <ul class="social mb-1 list-inline mt-3">
                            <li class="list-inline-item"><a href="mailto:steve_goul@hotmail.com" class="social-link"><i class="far fa-envelope-open"></i></a></li>
                            <li class="list-inline-item"><a href="https://www.linkedin.com/in/stavros-gouleas-93a2a741/" class="social-link"><i class="fa fa-linkedin"></i></a></li>
                            <li class="list-inline-item"><a href="https://github.com/StaurosGouleas" class="social-link"><i class="fa fa-github"></i></a></li>
                        </ul>
                    </div>
                </div>
                <!-- End-->

            </div>
        </div>
    </section>
</div>


<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
<!-- Core theme JS-->
<script>
    /*!
    * Start Bootstrap - Scrolling Nav v5.0.5 (https://startbootstrap.com/template/scrolling-nav)
    * Copyright 2013-2022 Start Bootstrap
    * Licensed under MIT (https://github.com/StartBootstrap/startbootstrap-scrolling-nav/blob/master/LICENSE)
    */
    //
    // Scripts
    //

    window.addEventListener('DOMContentLoaded', event => {

        // Activate Bootstrap scrollspy on the main nav element
        const mainNav = document.body.querySelector('#mainNav');
        if (mainNav) {
            new bootstrap.ScrollSpy(document.body, {
                target: '#mainNav',
                offset: 74,
            });
        };

        // Collapse responsive navbar when toggler is visible
        const navbarToggler = document.body.querySelector('.navbar-toggler');
        const responsiveNavItems = [].slice.call(
            document.querySelectorAll('#navbarResponsive .nav-link')
        );
        responsiveNavItems.map(function (responsiveNavItem) {
            responsiveNavItem.addEventListener('click', () => {
                if (window.getComputedStyle(navbarToggler).display !== 'none') {
                    navbarToggler.click();
                }
            });
        });

    });</script>
